[[extend 'layout.html']]

[[=form]]

<!--
<div class="container col-md-6 center border-10">
	<h1>
		<b>MRS Login</b>
	</h1>
	<form class="form-control" method="POST">
		<label>
			<b>Aims Number</b>
			<input type="text" class="texbox rounded" placeholder="Enter Your Aims No Here"/>
		</label>
		<br/>
		<label>
			<b>Password</b>
			<input type="password" class="password" placeholder="Enter Your Password Here"/>
		</label>
		<br/>
		<input type="submit" name="submit" class="btn-outline-primary" />
	</form>
</div>
-->

[[ block footer]]
[[end]]
